img {
    max-width:100%;
    max-height:100%;
    margin-bottom: 8px;
}

div.contacts {
    display: flex;
}

.contact-details {
    color: lightblue;
    padding-left: 10px;
    display: block;
    width: 100%;
    max-width: 100%;
}

p {
    margin: 0;
}
