.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    font-size: 16px;
}
.info {
    background-color: #2196f3;
} /* Blue */
.info:hover {
    background: #0b7dda;
}